<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.okolea">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDJnDn_O0nybXXsBypZ_5wTu1lVXOgHIjU" />

        <activity android:name=".HomePage"
            android:theme="@style/AppFullScreenTheme">

        </activity>
        <activity android:name=".Authentication.LoginActivity"
            android:theme="@style/AppFullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Authentication.RegisterActivity"
            android:theme="@style/AppFullScreenTheme">




        </activity>
        <activity android:name=".casualty">



        </activity>
        <activity android:name=".hospital.activities.ListActivity"
            android:theme="@style/AppFullScreenTheme"/>
        <activity android:name=".hospital.activities.DetailActivity" />
        <activity android:name=".hospital.activities.MainActivity"
            android:theme="@style/AppFullScreenTheme"
            >

        </activity>
        <activity android:name=".institution" />
        <activity android:name=".police.activities.MainActivity"
            android:theme="@style/AppFullScreenTheme">

        </activity>
        <activity android:name=".police.activities.DetailActivity"
            android:theme="@style/AppFullScreenTheme"/>
        <activity android:name=".police.activities.ListActivity"
            android:theme="@style/AppFullScreenTheme"/>
        <activity android:name=".insurance.activities.MainActivity"
            android:theme="@style/AppFullScreenTheme">



        </activity>
        <activity android:name=".insurance.activities.ListActivity"
            android:theme="@style/AppFullScreenTheme"
            >

        </activity>
        <activity android:name=".insurance.activities.DetailActivity"
            android:theme="@style/AppFullScreenTheme">

        </activity>
        <activity android:name=".Splash"
            android:theme="@style/AppFullScreenTheme">


        </activity>
        <activity android:name=".MInsurance.moh"
            android:theme="@style/AppFullScreenTheme"/>
        <activity android:name=".MInsurance.Apply"
            android:theme="@style/AppFullScreenTheme"/>
        <activity android:name=".MInsurance.about"
            android:theme="@style/AppFullScreenTheme"/>
        <activity android:name=".MInsurance.Claims"
            android:theme="@style/AppFullScreenTheme"/>
        <activity android:name=".MInsurance.Hospitals"
            android:theme="@style/AppFullScreenTheme"/>
        <activity android:name=".MInsurance.NHIF"
            android:theme="@style/AppFullScreenTheme"/>
        <activity android:name=".MInsurance.MainActivity"
            android:theme="@style/AppFullScreenTheme"/>
        <activity android:name=".MInsurance.Services"
            android:theme="@style/AppFullScreenTheme"/>

    </application>

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


</manifest>